html {
  height: 100%;
  width: 100%;
}

body {
  margin: auto;
}

/*Background */
.a1 {
  position: relative;
}

#a1 {
  position: absolute;
  top: -150px;
  height: 0px;
  width: 100%;
}

.a2 {
  position: relative;
}

#a2 {
  position: absolute;
  top: -150px;
  height: 0px;
  width: 100%;
}

.a3 {
  position: relative;
}

#a3 {
  position: absolute;
  top: -150px;
  height: 0px;
  width: 100%;
}

.a4 {
  position: relative;
}

#a4 {
  position: absolute;
  top: -150px;
  height: 0px;
  width: 100%;
}

section {
  width: 100%;
  background-color: #c94313;
  background-image: linear-gradient(#c94313, red);
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}

#image1 {
  background-image: url(pics/bg1.gif);
  background-size: 100%;
  max-width: 100%;
  height: 700px;
  background-attachment: fixed;
}

#image2 {
  background-image: url(pics/im1.png);
  background-size: 100%;
  max-width: 100%;
  height: 400px;
  background-attachment: fixed;
}

#image3 {
  background-image: url(pics/redonulis_bg.png);
  background-size: 100%;
  max-width: 100%;
  height: 400px;
  background-attachment: fixed;
}

#image4 {
  background-image: url(pics/RedonulisMiniontopleft.png);
  background-size: 100%;
  max-width: 100%;
  height: 400px;
  background-attachment: fixed;
}

@media screen and (max-width: 600px) {
  #image1 {
    display: none;
  }

  #image2 {
    display: none;
  }

  #image3 {
    display: none;
  }

  #image4 {
    display: none;
  }

  #index {
    position: relative;
    top: 30px;
  }
}

/*Banner */
#banner {
  margin: 0;
  position: absolute;
  top: 400px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Oleo Script Swash Caps', cursive;
  text-align: center;
  width: 80%;
}

#banner2 {
  margin: 0;
  position: absolute;
  top: -25px;
  left: 60px;
  color: white;
  font-size: 55px;
  font-family: 'Oleo Script Swash Caps', cursive;
}

/*Nav */
header {
  width: 100%;
  margin: auto;
  background-color: orangered;
  padding-top: 10px;
  position: fixed;
  z-index: 99;
}

@media screen and (min-width: 601px) {
  header {
    width: 100%;
    margin: auto;
    background-color: orangered;
    padding-top: 10px;
    position: fixed;
    z-index: 99;
  }

  #n2 {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  #n1 {
    display: none;
  }

  header {
    width: 100%;
    height: 70px;
    background-color: orangered;
    padding-top: 10px;
    position: fixed;
    z-index: 99;
  }

  #menuToggle {
    display: block;
    position: relative;
    top: 20px;
    left: 50px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle a {
    text-decoration: none;
    color: white;
    font-family: 'Oleo Script Swash Caps', cursive;


    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    color: orangered;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;

    z-index: 2;

    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: white;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: orangered;
  }

  #menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  .l1 {
    display: inline-block;
    margin-right: 25px;
  }

  #menu {
    position: absolute;
    width: 100%;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: #2f2828;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  #menuToggle input:checked~ul {
    transform: none;
  }
}

div.container {
  margin: auto;
  padding: 10px 3em;
  text-align: center;
  position: relative;
  top: -20px;
}

div.container a {
  color: #FFF;
  text-decoration: none;
  font: 35px Raleway;
  font-family: 'Oleo Script Swash Caps', cursive;
  line-height: 50px;
  margin: 0px 10px;
  padding: 2px 20px;
  position: relative;
  top: 15px;
  z-index: 0;
  cursor: pointer;
}

li {
  display: inline-block;
}

div.topBotomBordersOut a:before,
div.topBotomBordersOut a:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #FFF;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}

div.topBotomBordersOut a:before {
  top: 0px;
  transform: translateY(10px);
}

div.topBotomBordersOut a:after {
  bottom: 0px;
  transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before,
div.topBotomBordersOut a:hover:after {
  opacity: 1;
  transform: translateY(0px);
}

.main a {
  color: #ff450090;
}

/*context */
.main {
  background-color: #ff450090;
  text-align: center;
  border-radius: 20px;
  border-style: solid;
  border-color: black;
  font-size: 17px;
  font-family: 'Oleo Script Swash Caps', cursive;
  line-height: 23px;
  width: 70%;
  margin: auto;
}

h2 {
  font-size: 70px;
  line-height: 45px;
  font-family: 'Oleo Script Swash Caps', cursive;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  line-height: 25px;
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 35px;
    font-family: 'Oleo Script Swash Caps', cursive;
  }

  p {
    font-size: 15px;
  }
}

/*Content images */

.temple {
  max-width: 45%;
  padding: 10px;
  border-radius: 20px;
  border-color: black;
}

.boss {
  max-width: 30%;
}

.boss1 {
  max-width: 37%;
}

.summon {
  max-width: 45%;
}

.summon1 {
  max-width: 30%;
}

#temple {
  display: block;
  text-align: center;
}

#boss {
  display: block;
  text-align: center;
}

#summons {
  display: block;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .temple {
    display: none;
  }

  .boss {
    display: none;
  }

  .boss1 {
    display: none;
  }

  .summon {
    display: none;
  }

  .summon1 {
    display: none;
  }
}