html {
  height: 100%;
  width: 100%;
}

body {
  margin: auto;
}

/*Background */
section {
  width: 100%;
  background-color: #c94313;
  background-image: linear-gradient(#c94313, red);
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

#image1 {
  background-image: url(pics/bg1.gif);
  background-size: 100%;
  max-width: 100%;
  height: 700px;
  background-attachment: fixed;
}

#image2 {
  background-image: url(pics/im1.png);
  background-size: 100%;
  max-width: 100%;
  height: 400px;
  background-attachment: fixed;
}

#image3 {
  background-image: url(pics/redonulis_bg.png);
  background-size: 100%;
  max-width: 100%;
  height: 400px;
  background-attachment: fixed;
}

#image4 {
  background-image: url(pics/RedonulisMiniontopleft.png);
  background-size: 100%;
  max-width: 100%;
  height: 400px;
  background-attachment: fixed;
}

/*Banner */
#banner {
  margin: 0;
  position: absolute;
  top: 400px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*Nav */
header {
  width: 100%;
  height: 65px;
  background-color: orangered;
  padding-top: 10px;
  position: fixed;
  z-index: 99;
}

div.container {
  margin: auto;
  padding: 10px 3em;
  text-align: center;
  position: relative;
  top: -20px;
}

div.container a {
  color: #FFF;
  text-decoration: none;
  font: 25px Raleway;
  font-family: 'Oleo Script Swash Caps', cursive;
  line-height: 50px;
  margin: 0px 10px;
  padding: 2px 20px;
  position: relative;
  top: 0.1px;
  z-index: 0;
  cursor: pointer;
}

li {
  display: inline-block;
}

div.topBotomBordersOut a:before,
div.topBotomBordersOut a:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #FFF;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}

div.topBotomBordersOut a:before {
  top: 0px;
  transform: translateY(10px);
}

div.topBotomBordersOut a:after {
  bottom: 0px;
  transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before,
div.topBotomBordersOut a:hover:after {
  opacity: 1;
  transform: translateY(0px);
}

.main a {
  color: #ff450090;
}

/*context */
.main {
  background-color: #ff450090;
  text-align: center;
  border-radius: 20px;
  border-style: solid;
  border-color: black;
  font-size: 17px;
  font-family: 'Oleo Script Swash Caps', cursive;
  line-height: 23px;
  width: 70%;
  margin: auto;
}

h2 {
  font-size: 65px;
  line-height: 45px;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  line-height: 25px;
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 35px;
  }

  p {
    font-size: 15px;
  }
}

/*Content images */

#temple {
  max-width: 45%;
  padding: 10px;
  border-radius: 20px;
  border-color: black;
}

#boss {
  max-width: 30%;
}

#boss1 {
  max-width: 37%;
}

#summon {
  max-width: 45%;
}

#summon1 {
  max-width: 30;
}

.temple {
  display: block;
  text-align: center;
}

.boss {
  display: block;
  text-align: center;
}

.summons {
  display: block;
  text-align: center;
}